<div class="wrapper">
  <header class="header">
    <strong>Carrinho </strong>({{
      count() === 1 ? count() + " item" : count() + " items"
    }})
  </header>
  @if (count()) {
  <main class="main">
    <div class="items shadow">
      <div class="title">
        <strong>{{
          count() === 1 ? count() + " item" : count() + " items"
        }}</strong>
      </div>
      <div class="arrival">
        <strong>Chega até quarta-feira, 24 de janeiro</strong>
      </div>
      <div class="content">
        @for (item of items(); track item.id) {
        <app-cart-item-card
          [item]="item"
          (itemQuantityUpdate)="onItemQuantityUpdate($event, item.id)"
          (removeItem)="onRemoveItem(item.id)"
        ></app-cart-item-card>
        }
      </div>
    </div>
    <aside class="total shadow">
      <button class="checkout" (click)="onCheckout()">
        <strong>Continuar para finalizar a compra</strong>
      </button>
      <div class="subtotal value-pair">
        <div>
          <strong>Subtotal</strong>({{
            count() === 1 ? count() + " item" : count() + " items"
          }})
        </div>
        <div>{{ total() }} Kz </div>
      </div>
      <div class="taxes value-pair">
        <div><strong>Impostos</strong></div>
        <div>Calcular ao finalizar</div>
      </div>
      <div class="estimated-total value-pair">
        <div><strong>Total Estimado</strong></div>
        <div class="estimated-total-value">
          <strong>{{ total() }} Kz </strong>
        </div>
      </div>
    </aside>
  </main>
  } @else {
  <div class="cart-empty">Carrinho está vazio!</div>
  }
</div>
